__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
.git/
.gitignore
*.swp
*.swo
db.sqlite3
staticfiles/
mediafiles/
.env
docker-compose.yml
Dockerfile
*.sh
init-db/
